
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
    /* background-image: url(/Images/Background.jpg);
    background-size: cover; */
    display: flex;
	justify-content: center;
    overflow-y: hidden;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2{
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input , .gender {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
    border: 0.5px solid black;
    box-shadow: 20px 16px rgb(30, 39, 98);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}


.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}
.signUp, .logIn{
    color: white;
    border-color: white;
}

.overlay {
	background: linear-gradient( #0c1a44, rgb(64, 77, 224));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}
.backFlip-container{
    background-color: #fff;
	border-radius: 10px;
    border: 0.5px solid black;
    box-shadow: 20px 16px rgb(30, 39, 98);
	position: absolute;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}
.emailConfirmation{
    background-color: #fff;
    overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    position: absolute;
    border-radius: 10px;
    border: 0.5px solid black;
    box-shadow: 20px 16px rgb(30, 39, 98);
}


.container.backFlip-container-active{
    z-index: 1;
    opacity: 1;
}
.container.emailConfirmation-active{
    z-index: 1;
}
.container.backFlip-container-active h2{
    top: -100;
}
.backFlip-container .back-overlay{
    position: relative;
    top: 100px;
    text-align: center;
}
.material-symbols-outlined{
    position: relative;
    top: -70px;
    font-size: 60px;
    cursor: pointer;
}
#closeEmailCon{
    top: 30px;
}
.backFlip-container .back-overlay input{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 520px;
}
.emailConfirmation .emilConfirmation-overlay h1{
    margin-top: 100px;
}

.emailConfirmation .emilConfirmation-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emailConfirmation .emilConfirmation-overlay input{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 520px;
}
.secOptionlogin{
    font-weight: normal;
}

.lineInLogin{
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    width: 100%;
    padding-top: 40px;
}

.btnGoogle{
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.94);
}




footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
/*================================================ index end =============================================*/
/*================================================ HomePage start =============================================*/

.topNav{
    position: absolute;
    top: 5%;
    left: 25%;
    width: 60%;
    height: 100px;
    background-color: rgba(247, 247, 247, 0.726);
    border: 0.5px solid black;
    border-radius: 20px;
    box-shadow: 20px 16px rgb(34, 34, 34);
}
.topNav h1, .sideNav h1{
    position: absolute;
    text-align: left;
    margin-top: 30px;
    padding-left: 30px;
    color: rgb(0, 0, 0);
}
.topNav ul{
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: row;
    float: right;
    padding-top: 20px;

}
.topNav ul li a{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 30px;
}
.topNav ul li a:hover{
    color: rgb(99, 30, 30);

}
.sideNav{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 20%;
    height: 90%;
    background-color: rgba(240, 240, 240, 0.62);
    border: 0.5px solid black;
    border-radius: 20px;
    box-shadow: 20px 16px rgb(34, 34, 34);
}
.sideNav .line{
    position: relative;
    width: 90%;
    height: 2px;
    top: 100px;
    left: 15px;
    background-color: black;
}
.sideNav ul{
    position: relative;
    top: 150px;
}
.sideNav ul li{
    list-style-type: none;
    margin-bottom: 85px;
}
.sideNav ul li a{
    font-size: 30px;
    font-weight: bolder;
}
.sideNav ul li a:hover{
    color: rgb(99, 30, 30);
}

.changePas{
    position: absolute;
    top: 16%;
    left: 25%;
    width: 60%;
    height: 79%;
    background-color: rgba(247, 247, 247, 0.726);
    border: 0.5px solid black;
    border-radius: 20px;
    box-shadow: 20px 16px rgb(34, 34, 34);
}
.passValid{
    position: relative;
    top: 50px;
}

.passValid input{
    width: 70%;
}
.required{
    font-size: 30px;
    font-weight: bolder;
    color: red;
}

.loginByGoogle{
    padding: 8px;
    margin: 5px;
}

.submitBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnNewPass{
    position: relative;
    width: 490px;
    height: 70px;
    top: 190px;
    font-size: 20px;
    border-radius: 20px;
	background-color: transparent;
    border: 2px solid black;
    font-weight: bolder;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.btnNewPass:hover{
    background-color: black;
    color: white;
}

.btnNewPass:active {
	transform: scale(0.95);
}

.btnNewPass:focus {
	outline: none;
}

