* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.brand-logo span{
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

.ps__rail-x{
    left: 0;
    bottom: 0;
}
.ps__thumb-x{
    left: 0;
    width: 0;
}
.ps__rail-y{
    top: 0;
    height: 664px;
    right: 0;
}
.ps__thumb-y{
    top: 0;
    height: 567px;
}
.btnProfile{
    display: flex;
    justify-content: space-between;
}
.sr-only{
    font-size: 14px;
    margin-bottom: 12px;
}
.card-body img{
    width: 300px;
    margin-left: 50px;
}
.btnInputAddUser input{
    height: 45px;
    width: 400px;
    margin-left: 10px;
    text-align: center;
}
.btnUpgrade, .btnEditUser{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pie-card{
    margin-left: 30px;
    width: 900px;
}
.icon-card{
    margin-left: 30px
}

#homePage{
    height: 600px;
    text-align: center;
    padding: 50px;
}

.nav-link{
    font-size: 16px ;!important;
}

#userAddedSuccessfully{
    display: none;
}

table {
    border-collapse: revert;
    width: 75%;
    margin: auto;
}

th, td {
    border-bottom: 1px solid rgba(128, 128, 128, 0.28);
    padding: 8px;
}

tr:nth-child(even) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.28);
}

th {
    /*background-color: cornflowerblue;*/
    border-bottom: 1px solid rgba(128, 128, 128, 0.43);
    color: black;
}

h2, h3 {
    text-align: center;
    color: #001113;
    margin-bottom: 25px;
    font-size: 35px;
}

/*.card {margin-bottom: 3rem;}*/


