<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <table style="padding: 20px; margin: 0 auto; text-align: center; border-collapse:separate;
    border-spacing: 0 1em; font-family:Lato, sans-serif; width:50%; max-width:400px;">
        <tr>
            <td style="text-decoration: none; width:100%;"><h1> Welcome to Our System</h1></td>
        </tr>
        <tr>
            <td style="color:#30e3ca; font-size: 2rem; width:100%;">e-Verify IAM Shenkar</td>
        </tr>
        <tr>
            <td style="font-size: 1.2rem; width:100%;">Hi,<%= name %></td>
        </tr>
        <tr>
            <td style="font-size: 1.2rem; width:100%;">   Please Verify Your Account</td>
        </tr>
        <tr>
            <td><a href="https://imgbb.com/"><img src="https://i.ibb.co/55V6XJp/email.png" alt="email" border="0" style="width:10rem;"></a></td>
        </tr>
        <tr>
            <td style="width:100%;">Verify Your email With This Code </td>
        </tr>
        <tr>
            <td style="background-color: #30e3ca; height: 2.6rem; width:4rem; border-radius: 0.2rem; color:white;"><%= code %></td>
        </tr>
    </table>
    <footer>
        <table style="padding: 20px; margin: 0 auto; text-align: center; border-collapse:separate;
        border-spacing: 0 1em; font-family:Lato, sans-serif; width: 50%; max-width:400px;">
            <tr>
                <td>Support:</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="border: solid 1px #30e3ca; height: 2.6rem; width:7rem; border-radius: 0.2rem; color:#30e3ca;" > <a href="mailto:IAMShenkar@gmail.com"  style="text-decoration: none; color: #30e3ca"> Send Us an Email</a></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Contact Us</td>
                <td></td>
            </tr>
            <tr>
                <td> </td>
                <td>
                    <a href="#facebook"><img src="https://i.ibb.co/jV2V7bm/360-F-483369745-d9u-Qmd-Ra-UGr-Zju-ZC95rh10o64e-Yun-K6c.jpg" alt="360-F-483369745-d9u-Qmd-Ra-UGr-Zju-ZC95rh10o64e-Yun-K6c" border="0" style="width:20px"></a>
                    <a href="#linkdin"><img src="https://i.ibb.co/j3B911m/2021-Facebook-icon-svg.png" alt="2021-Facebook-icon-svg" border="0" style="width:20px"></a>
                    <a href="#twitter"><img src="https://i.ibb.co/Jq1nXhF/174857.png" alt="174857" border="0" style="width:20px"></a>
                </td>
                <td></td>
            </tr>
        </table>
    </footer>
</body>
</html>